<h1 style="text-align: center; padding: 25px;">Liste des Résidences</h1>

<div class="container">
    <div class="row">
        <div *ngFor="let R of listResidences" class="col-md-4 mb-3 d-flex justify-content-center">
            <div class="card" style="width: 12rem;">
                <img [src]="R.image" alt="card image cap" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ R.name }}</h5>

                    <h5 *ngIf="selectedResidenceId === R.id" class="card-title">{{ R.address }}</h5>
                    <a class="btn btn-primary" (click)="show(R)">Show Location</a>
                </div>
            </div>
        </div>
    </div>
</div>